* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
    --header-height: 150px; 
    --footer-height: 150px; 
}
.main-content {
	position:relative;
	background-size: cover;
	background-position: center;
} 


.container {
    flex: 1; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: calc(100vh - var(--header-height) - var(--footer-height)); 
}

.container.txt-center {
    margin: auto;
    padding: 1rem;
}

/*======================== NAVIGATION HEADER ========================*/

.navbar-brand img {
	height: auto;
	margin: 30px;
	padding-left: 30%;
}

.navbar-btn {
	background-color: rgb(0, 0, 0);
	color: white;
	padding: 0.7rem 1rem;
	border-radius: 6px;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 8px;
	margin: 20px;
}

.navbar-btn:hover {
	background-color: #9E182F;
	color: white;
}

.nav-link {
	color: #000000;
	margin-right: 15px;
	text-decoration: none;
	transition: color 0.3s ease;
	font-size: large;
}

.nav-link:hover {
	color: #9E182F;
}


/*==============================    FOOTER  ===================================*/
footer {
	position: relative; /* Removed fixed positioning */
  }

.bg-black {
	background-color: #000;
}

.social-icons {
	display: flex;
	justify-content: center;
}

.social-icons a {
	color: #fff;
	margin: 0 10px;
	font-size: 1.5rem;
}

.social-icons a:hover {
	color: #9E182F;
}

/*============================== PROGRESSBAR ANNONSER  ===========================*/


/*============================== REG FORM STANDARDS  ===========================*/


.form {
	width: 100%;
	height: auto;
	padding: 50px;
	display: block;
	background-color: rgba(241, 241, 241, 0.9);
	
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	color: #000;
}

.form-field input {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #c3c3c3;
	width: 95%;
	margin-bottom: 10px;
	margin-top: 10px;
	color: #000;
}

.form-action {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.checkbox-container {
	display: flex;
	align-items: center;
}

.forgot-password {
	color: rgb(0, 0, 0);
	text-decoration: none;
	display: block;
	text-align: right;
}

.login-button {
	width: 100%;
	padding: 10px 0;
	margin-top: 20px;
	margin-bottom: 10px;
}

.login-button,
.reg-button {
	background: #9E182F;
	color: rgb(255, 255, 255);
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	width: 95%;
	margin-top: 10px;
}

.login-button:hover {
	background-color: darkred;
}

p {
	text-align: left;
}

.register {
	color: #9E182F;
	text-decoration: none;
	display: inline-block;
}

.checkbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}


.checkmark {
	margin: 12px;
	height: 20px;
	width: 20px;
	background-color: #f5f5f5;
	border-radius: 4px;
	border-color: #333;
}


.checkbox-container:hover input~.checkmark {
	background-color: rgb(210, 208, 208);
}

.checkbox-container input:checked~.checkmark {
	background-color: #9E182F;
}


.right-side-content {
	height: 100%;
	max-width: 500px;
	margin-left: auto;
	padding: 2%;


	box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
	overflow-y: auto;
}

/*========================== BRRG CARD ==========================*/

h2 {
	font-size: 2.5rem;
	top: 10%;
	left: 300px;
	z-index: 2;
	color: rgb(245, 245, 245);
}

.question-box {
	background: #4e0000;
	padding: 60px;
	border-radius: 15px;
	position: relative;
	margin-top: 17rem;
	margin-right: 30rem;
	z-index: 1;
}

.btn-outline-light,
.btn-light {
	margin: 15px;
}



/*======================= ANNONSE - FORM ==========================*/

#bannerPreview {
    width: 1000px;
    height: 200px;
    object-fit: cover; /* Beskjærer bildet for å dekke området */
    overflow: hidden; /* Hindrer bilde fra å bre seg utenfor rammen */
}

#logoPreview {
    width: 150px;
    height: 150px;
    object-fit:contain; /* Sørger for at hele bildet vises, tilpasset størrelsen */
    border-radius: 50%; 
    overflow: hidden; 
	border: 1px solid #000000;
}


.input-icon {
    position: relative;
    display: inline-block;
  }
  .input-icon .form-control {
    padding-left: 30px; 
	
  }
  .input-icon i {
    position: absolute;
    left: 25px; 
    top: 50%;
    transform: translateY(-50%);
    color: #4e0000; 
  }

  label {
	color: #9E182F;
  }

  .ck-editor__editable {
	min-height: 400px;
	width: 1024px;
	max-height: auto;
	overflow-y: auto;
}
/*======================= ANNONSE - MODAL PREVIEW ==========================*/
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/*====================== REG - LAYOUT 2COL GRID ==========================*/

.upload-form {
    display: flex;
    justify-content: center; /* sentrerer innholdet horisontalt */
    align-items: center; /* sentrerer innholdet vertikalt */
    flex-direction: column; /* stakker elementene vertikalt */
    width: 100%; /* tar full bredde */
}

.form h2 {
	font-size: 2.5rem;
	top: 10%;
	left: 300px;
	z-index: 2;
	color: rgb(7, 7, 7);
}

.overlay-content {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	max-width: 600px;
	width: 100%;
}

.back-button {
	position: relative;
	top: 3.4rem;
	right: 5rem;
	z-index: 3;
}

.progress {
	height: 40px;
}


/*========================== CONTROLPANEL - CARD 1 ==========================*/


.custom-card:hover {
	transform: scale(1.05);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* .card-container {

	width: 100%;
	margin: auto;
	padding: 20px;
	
} */

.custom-card {
	background-color: #cac5dd;
}
.custom-card p, .card-title{
	
	text-align: center;
}

.container-panel {
    display: flex;
    justify-content: center; /* Senterer barna horisontalt */
    align-items: center;     /* Senterer barna vertikalt (om nødvendig) */
    flex-wrap: wrap;         /* Lar elementene pakke (wrap) på nye linjer */
    gap: 20px;               /* Avstand mellom kortene */
	margin-left: 9%;
}

.custom-card {
    flex: 0 1 300px; /* Flex basis til 300px, men kan krympe om nødvendig, ikke vokse større enn 300px */
    margin: 10px;    /* Ytterligere mellomrom rundt hvert kort */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Liten skygge for visuell separasjon */
    transition: transform 0.3s ease; /* Gjør overgangen jevn når kortet klikkes */
}

.custom-card:hover {
    transform: scale(1.05); /* Lett forstørrelse ved hover */
}

.custom-card img {
    width: 100%;    /* Sørger for at bildet fyller bredden av kortet */
    height: auto;   /* Holder bildets aspekt ratio */
}

.custom-card-body {
    padding: 15px; /* Padding innenfor kortet */
	text-wrap:pretty;
	

}


/*========================== SIDEBAR NAV CONTROLPANEL ==========================*/
.with-line:after {
	content: '';
	width: 250px; 
	height: 0.5px; 
	background-color: #fff; 
	margin-top: 15px; 
  }
  

.sidebar {
	position: fixed;
    left: 0;
    width: 230px;
	padding-top: 25px;
    background-color: #9E182F;
    text-align: center;
    overflow-y: auto; 
    height: calc(100vh - var(--header-height));
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

	  
.sidebar a {
		display: block;
		color: #fff;
		padding: 16px;
		text-decoration: none;
		white-space: nowrap;
		position: relative;
		
	  }
	   
	  .sidebar a.active {
		background-color: #9E182F;
		color: white;
	  }
	  
	  .sidebar a:hover:not(.active)::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 250px;
		height: 100%; 
		background-color: #4e0000; 
		opacity: 0.3; 
		transition: opacity 0.3s ease;
	  }


/*========================== FAQ ==========================*/

.accordion {
	
	font-size: 18px;
}


/*========================== INNSTILLINGER ==========================*/
.settings-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.text-muted {
    color: #aeb0b4 !important;
}
.text-muted {
    font-weight: 300;
}


/* .form-group {
    margin-bottom: 20px;
} */

/* label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
} */

/* button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
} */

/*========================== MEDIA QUERIES ==========================*/

/* Min-height for full viewport height on all devices */
.min-vh-100 {
	min-height: 100vh;
}

@media (max-width: 991px) {

	.question-box {
		position: static;
		transform: none;
		margin-top: 1rem;
	}

	.login-card {
		position: static;
		transform: none;
		margin-top: 2rem;
	}
}


@media (max-width: 768px) {
	.back-button {
		position: static;
		transform: none;
		margin-bottom: 1rem;

	}

	.social-icons {
		margin-top: 1rem;
	}

	.sidebar {
        width: 100%; 
        height: auto;
        position: relative;
        top: 0;
        bottom: auto;
    }

    .content {
        margin-left: 0; 
    }
	#bannerPreview, #logoPreview {
        max-height: 150px;
}

  
}
  