<div class="header-menu">
    <div class="container-menu">
      <div class="content-menu">
        <div class="logo-block">
          <div
            class="media-company-placeholder"
            style="
              background: url(media-company-placeholder0.png) center;
              background-size: cover;
              background-repeat: no-repeat;
            "
          >
            <div class="logomark"></div>
          </div>
        </div>
        <div class="links-actions">
          <div class="menu-links">
            <div class="link-link-aktivitetskalender">
              <div class="label4">Aktivitetskalender</div>
            </div>
            <div class="link-link-ledige-stillinger">
              <div class="label4">Ledige stillinger</div>
            </div>
            <div class="link-link-karriereportal">
              <div class="label5">Karriereportal</div>
            </div>
          </div>
          <div class="menu-divider"></div>
          <div class="actions-btn">
            <div class="button-kristiania-no">
              <div class="label6">Til Kristiania.no</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>