<div class="main-page">
    <div
      class="login-form"
      style="
        background: url(login-form0.png) center;
        background-size: contain;
        background-repeat: no-repeat;
      "
    >
      <div class="login-input">
        <div class="input-fields">
          <div class="input-interactive-text-input">
            <div class="text-input-4">
              <div class="container">
                <div class="label">Email</div>
                <div class="input-field">
                  <div class="input">
                    <div class="text-placeholder">Ditt brukernavn</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="input-interactive-text-input">
            <div class="text-input-42">
              <div class="text-input-4">
                <div class="container">
                  <div class="label2">Passord</div>
                  <div class="input-field">
                    <div class="input">
                      <div class="text-placeholder">Ditt passord</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="checkbox-remember-user">
          <div class="form-control-checkbox">
            <div class="outer-rectangle"></div>
          </div>
          <div class="husk-meg">Husk meg</div>
          <div class="button-register">
            <div class="label3">Opprett ny konto</div>
          </div>
        </div>
        <div class="demo-button">
          <div class="button">Login</div>
        </div>
      </div>
    </div>
    <div class="velkommen-til-karriereportalen">
      Velkommen til karriereportalen
    </div>
    <div class="header-menu">
      <div class="container-menu">
        <div class="content-menu">
          <div class="logo-block">
            <div
              class="media-company-placeholder"
              style="
                background: url(media-company-placeholder0.png) center;
                background-size: cover;
                background-repeat: no-repeat;
              "
            >
              <div class="logomark"></div>
            </div>
          </div>
          <div class="links-actions">
            <div class="menu-links">
              <div class="link-link-aktivitetskalender">
                <div class="label4">Aktivitetskalender</div>
              </div>
              <div class="link-link-ledige-stillinger">
                <div class="label4">Ledige stillinger</div>
              </div>
              <div class="link-link-karriereportal">
                <div class="label5">Karriereportal</div>
              </div>
            </div>
            <div class="menu-divider"></div>
            <div class="actions-btn">
              <div class="button-kristiania-no">
                <div class="label6">Til Kristiania.no</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="frame-1">
      <div class="footer2">
        <div class="container-footer">
          <div class="content-footer">
            <div
              class="leading-content-footer"
              style="
                background: url(leading-content-footer0.png) center;
                background-size: cover;
                background-repeat: no-repeat;
              "
            >
              <div class="media-company-placeholder2">
                <div class="logomark"></div>
              </div>
            </div>
            <div class="footer-links">
              <div class="link-block-footer-info">
                <div class="block-heading">Kontakt oss</div>
                <div class="links">
                  <div class="link">karriere@kristiania.no</div>
                  <div class="link">+47 99 15 07 42</div>
                  <div class="link">
                    Karriereportalen administreres av karrieresenteret
                  </div>
                </div>
              </div>
              <div class="link-block-footer-icons">
                <div class="block-heading2">Sosiale medier</div>
                <div class="icons">
                  <img class="media-social-icon" src="media-social-icon0.svg" />
                  <img class="media-social-icon2" src="media-social-icon1.svg" />
                  <div class="media-social-icon3">
                    <img class="group" src="group0.svg" />
                  </div>
                  <div class="media-social-icon3">
                    <img class="group2" src="group1.svg" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  